---
import OpenInNewTabIcon from "./OpenInNewTabIcon.astro";
import Pill from "./Pill.astro";

interface Props {
    role: string;
    company: string;
    companyUrl: string;
    description: string;
    from: string;
    to: string;
    skills: string[];
}

const { role, company, companyUrl, description, from, to, skills } =
    Astro.props;
---

<div class="flex flex-col gap-3">
    <header>
        <h2 class="text-sm">
            <span class="font-bold">{role}</span>

            <a
                class="flex gap-1"
                href={companyUrl}
                target="_blank"
                aria-label=`${role} at ${company}`>
                {company}
                <OpenInNewTabIcon />
            </a>
        </h2>
        <h6 class="text-xs text-slate-600 dark:text-slate-400">
            {from} - {to}
        </h6>
    </header>

    <p class="mb-3 text-justify text-sm">
        {description}
    </p>

    <ul class="flex flex-wrap gap-2">
        {
            skills.map((skill) => {
                return (
                    <li>
                        <Pill text={skill} />
                    </li>
                );
            })
        }
    </ul>
</div>
