---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const navItems: Array<{ href: string; text: string }> = [
    { href: `/${lang}`, text: t("nav.about") },
    {
        href: `/${lang}/experience`,
        text: t("nav.experience"),
    },
    {
        href: `/${lang}/projects`,
        text: t("nav.projects"),
    },
];
---

<nav>
    <ul class="flex justify-center gap-2 text-xs md:text-lg lg:text-lg">
        {
            navItems.map(({ href, text }) => {
                return (
                    <li>
                        <a
                            href={href}
                            aria-current={Astro.url.pathname === href}
                            class:list={[
                                Astro.url.pathname === href
                                    ? [
                                          "border-b-2 border-indigo-200 dark:border-indigo-900",
                                      ]
                                    : [
                                          "text-slate-500 hover:border-b-2 hover:border-indigo-200 hover:dark:border-indigo-900",
                                      ],
                            ]}>
                            {text}
                        </a>
                    </li>
                );
            })
        }
    </ul>
</nav>
